.projects-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
}

.project-item {
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid $secondary;
  border-radius: 10px;
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  box-shadow: 0px 0px 20px -10px $secondary;
}

.project-item__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.project-item__title {
  font-size: 24px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  text-align: center;
  border-bottom: 1px solid $ui;
}

.project-item__desc {
  margin-bottom: 15px;
  color: $font-secondary;
}

.project-item__progress {
  margin-top: auto;
}

.project-item__pre-desc {
  color: $font-primary;
  font-weight: 700;
}

.project-item__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item__deadline-date {
  margin-left: 15px;
}

.projects-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $font-secondary;
}

.projects-top__item {
  margin: 0 10px;
}

.project-popup__wrapper {
  max-width: 900px;
  width: 100%;
}
