.create {
}

.create__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.create__form,
.create-project__data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.create__item {
  margin-bottom: 20px;
}

.create__label {
  display: flex;
  align-items: center;
}

.create__label-title {
  font-size: 18px;
  margin-right: 10px;
  font-weight: 600;
}

.create__textarea {
  height: 200px;
}

.create-project__data {
  flex: 0 1 60%;
  padding-right: 30px;
}

.create-project__tasks {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: stretch;
}

.create-project__from {
  flex-direction: row;
  flex-wrap: wrap;
}

.create-project__submit {
  flex: 0 0 100%;
}

.create-project__tasks-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.create-project__tasks-add {
  background: transparent;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  border: 2px solid $secondary;
  border-radius: 50%;
  transition: background 0.2s;

  &:hover {
    background: $ui;
  }
}

.create-project__tasks-span {
  margin-bottom: 4px;
  margin-left: 1px;
}

.create-project__tasks-content {
  flex: 1 1 auto;
  height: 10px;
  border: 2px solid $secondary;
  border-radius: 19px;
  background: $ui;
  overflow: auto;
  padding: 10px;
}

.create-project__tasks-item + .create-project__tasks-item {
  margin-top: 6px;
}

.create-project__tasks-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  background: $primary;
  border: 1px solid $secondary;
  border-radius: 19px;
}

.create-project__tasks-desc {
  margin-right: 10px;
}

.create-project__tasks-delete {
  border-color: $red-color;
  flex: 0 0 30px;
  height: 30px;

  & path {
    transition: stroke 0.2s;
  }

  &:hover {
    background: $red-color;
  }

  &:hover path {
    stroke: #fff;
  }
}

.create-project__tasks-plug {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.create__color-radio {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 0 5px;
  appearance: none;
  border: 2px solid transparent;
  transition: border 0.15s;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: transform 0.15s;
  }

  &:checked {
    border-color: #000;
  }

  &:checked::before {
    transform: scale(0.7);
  }

  &--black::before {
    background: #000;
  }

  &--blue::before {
    background: blue;
  }

  &--green::before {
    background: green;
  }

  &--orange::before {
    background: orange;
  }

  &--gray::before {
    background: gray;
  }

  &--red::before {
    background: red;
  }

  &--aqua::before {
    background: aqua;
  }

  &--purple::before {
    background: purple;
  }
}

.create-project__warning {
  font-size: 14px;
  margin-top: 10px;
  text-decoration: underline;
  text-transform: uppercase;
  color: $font-secondary;
}

.create__input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 15px;
}
