$primary: #ffffff;
$secondary: #1c1d22;
$font-primary: #1c1d22;
$font-secondary: rgba(28, 29, 34, 0.5);
$font-tertiary: #ffffff;
$ui: #ededee;
$green-color: #12bd12;
$red-color: #fa3131;
$yellow-color: #ffae00;
$header-height: 74px;
